#home {
  header {
    position: absolute;
    left: 0;
    right: 0;
    overflow-x: hidden;

    .userCoverBg {
      width: 100%;
    }

    .noPads {
      padding: 0;
    }

    .headerBg {
      background-image: url(/images/bomb.jpg);
      height: 300px;
      background-size: contain;
    }
  }

  section.profile {
    position: relative;
    top: 300px;
    background-color: #FFF;
    color: rgba(255,133,10,1);
    padding: 20px 0;

    hr.gray {
      border-top: 2px solid #e6e5e4;
    }

    .userAvatar {
      width: 160px;
      float: left;
    }

    .userInfoWrapper {
      width: 600px;
      position: absolute;
      bottom: 0;
      left: 200px;
      font-size: 15px;

      .username {
        font-size: 40px;
        font-weight: 200;
      }

      .counts {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          margin: 0 10px;

          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }

    /* ------------------------------------------------------------------------------------------------------------------------------- */
    // New Sound Button
    /* ------------------------------------------------------------------------------------------------------------------------------- */
    .newPostBtn {
      color: #FFF;
      background-color: rgba(255,133,10,1);
      border: none;
      padding: 10px 20px;
      transition: all .1s 0s ease-in-out;
      position: absolute;
      right: 10px;
      bottom: 10px;

      &:hover {
        background-color: rgba(158,157,156,1);
        color: #fff;
      }
    }

    .feed {
      padding-top: 20px;

      .post {
        margin-bottom: 20px;

        .dateOfPost {
          color: rgba(158,157,156,1);
          margin-bottom: 5px;
          font-size: 12px;
        }
      }

      .postImage {
        float: left;
      }

      .postTextWrapper {
        position: absolute;
        left: 200px;

        .ctas,
        .tags {
          list-style-type: none;
          margin: 10px 0;
          padding: 0;

          li {
            display: inline-block;
            margin: 0 1px;

            &:first-of-type {
              margin-left: 0;
            }
          }
        }

        .artistName {
            font-size: 15px;
        }

        .tags {
          li {
            padding: 2px 5px;
            background-color: #9e9d9c;
            color: #fff;
          }
        }
      }
    }
  }
}