#profile {
  header {
    position: absolute;
    left: 0;
    right: 0;
    overflow-x: hidden;

    .userCoverBg {
      width: 100%;
    }

    .noPads {
      padding: 0;
    }
  }

  section.profile {
    position: relative;
    top: 300px;
    background-color: #FFF;
    color: rgba(255,133,10,1);
    padding: 20px 0;

    hr.gray {
      border-top: 2px solid #e6e5e4;
    }

    .userAvatar {
      width: 160px;
      float: left;
    }

    .userInfoWrapper {
      width: 600px;
      position: absolute;
      bottom: 0;
      left: 200px;
      font-size: 15px;

      .username {
        font-size: 40px;
        font-weight: 200;
      }

      .counts {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          margin: 0 10px;

          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }

    /* ------------------------------------------------------------------------------------------------------------------------------- */
    // New Sound Button
    /* ------------------------------------------------------------------------------------------------------------------------------- */
    .newPostBtn {
      color: #FFF;
      background-color: rgba(255,133,10,1);
      border: none;
      padding: 10px 20px;
      transition: all .1s 0s ease-in-out;
      position: absolute;
      right: 10px;
      bottom: 10px;

      &:hover {
        background-color: rgba(158,157,156,1);
        color: #fff;
      }
    }

    .feed {
      padding-top: 20px;

      .post {
        margin-bottom: 20px;

        .dateOfPost {
          color: rgba(158,157,156,1);
          margin-bottom: 5px;
          font-size: 12px;
        }
      }

      .postImage {
        float: left;
      }

      .postTextWrapper {
        position: absolute;
        left: 200px;

        .ctas,
        .tags {
          list-style-type: none;
          margin: 10px 0;
          padding: 0;

          li {
            display: inline-block;
            margin: 0 1px;

            &:first-of-type {
              margin-left: 0;
            }
          }
        }

        .artistName {
            font-size: 15px;
        }

        .tags {
          li {
            padding: 2px 5px;
            background-color: #9e9d9c;
            color: #fff;
          }
        }
      }
    }
  }

  /* ------------------------------------------------------------------------------------------------------------------------------- */
  // New Sound Overlay
  /* ------------------------------------------------------------------------------------------------------------------------------- */
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,133,10,0.9);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    .overlay-close {
      width: 80px;
      height: 80px;
      position: absolute;
      right: 20px;
      top: 20px;
      overflow: hidden;
      border: none;
      background: url(https://tympanus.net/Development/FullscreenOverlayStyles/img/cross.png) no-repeat center center;
      text-indent: 200%;
      color: transparent;
      outline: none;
      z-index: 100;
    }

    .container {
      form {
        /* --------------------------------------------------------------------------------------------------------------------------- */
        // Create Post Button
        /* --------------------------------------------------------------------------------------------------------------------------- */
        .createPostBtn {
          color: rgba(255,133,10,1);
          background-color: #FFF;
          border: none;
          padding: 10px 20px;
          transition: all .1s 0s ease-in-out;

          &:hover {
            background-color: rgba(158,157,156,1);
            color: #fff;
          }
        }
      }
    }

    nav {
      // text-align: center;
      // position: relative;
      // top: 50%;
      // height: 60%;
      // -webkit-transform: translateY(-50%);
      // transform: translateY(-50%);

      ul {
        // list-style: none;
        // padding: 0;
        // margin: 0 auto;
        // display: inline-block;
        // height: 100%;
        // position: relative;

        li {
          // display: block;
          // height: 20%;
          // height: calc(100% / 5);
          // min-height: 54px;
          // -webkit-backface-visibility: hidden;
          // backface-visibility: hidden;

          a {
            // font-size: 54px;
            // font-weight: 300;
            // display: block;
            // color: #fff;
            // -webkit-transition: color 0.2s;
            // transition: color 0.2s;

            &:hover,
            &:focus {
              // color: #e3fcb1;
            }
          }
        }
      }
    }
  }

  .overlay-slidedown {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  }

  .overlay-slidedown.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
  }
}