<div id="admin">
  <h1>Current User:</h1>
  <ul>
    <li>username: {{currentUser.username}} <br> password: {{currentUser.password}}</li>
  </ul>
  <h1>All Users</h1>
  <ul>
    <li ng-repeat="user in users">
      <!-- don't show the current user -->
      <div ng-hide="currentUser.username === user.username">
        currentUser: {{currentUser}}<br>
        user: {{user}}<br>
        username: {{user.username}}<br>
        password: {{user.password}}<br>
        <div ng-show="currentUser.following.indexOf(user.username) === -1">
          <a class="followLink" ng-click="follow(user, currentUser)">Follow</a>
        </div>
        <div ng-hide="currentUser.following.indexOf(user.username) === -1">
          <a class="unfollowLink" ng-click="unfollow(user, currentUser)">Unfollow</a>
        </div>
      </div>
    </li>
  </ul>
</div>