<div id="home">
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Home</h1>
        <div ng-show="currentUser">
          logged in: {{currentUser}}
          <br>
        </div>
        <div ng-show="!currentUser">logged out</div>
      </div>
    </div>
  </div> -->

  <header>
    <div class="container-fluid noPads">
      <div class="row">
        <div class="col-md-12">
          <!-- <img src="/images/bomb.jpg" alt="Cassettes" class="img-responsive userCoverBg"> -->
          <div class="headerBg"></div>
        </div>
      </div>
    </div>
  </header>
  <section class="profile">
    <div class="container-fluid noPads">
      <div class="row">
        <div class="col-md-10">
          <!-- profile feed -->
          <div class="feed">
            <div class="post">
              <div class="dateOfPost">posted 4 days ago</div>
              <img src="https://placeimg.com/160/160/any" alt="Placeholder Image" class="postImage">
              <div class="postTextWrapper">
                <div class="artistName">Artist Name</div>
                <div class="songTitle"><b>Song Title</b></div>
                <ul class="ctas">
                  <li>
                    <i class="ion-ios-heart"></i> 1,698
                  </li>
                  <li>
                    <i class="fa fa-retweet" aria-hidden="true"></i> 286
                  </li>
                </ul>
                <ul class="tags">
                  <li>Rock</li>
                  <li>Hip Hop</li>
                  <li>EDM</li>
                </ul>
              </div>
              <div style="clear: both;"></div>
            </div>
            <hr class="gray">
            <div class="post">
              <div class="dateOfPost">posted 4 days ago</div>
              <img src="https://placeimg.com/160/160/any" alt="Placeholder Image" class="postImage">
              <div class="postTextWrapper">
                <div class="artistName">Artist Name</div>
                <div class="songTitle"><b>Song Title</b></div>
                <ul class="ctas">
                  <li>
                    <i class="ion-ios-heart"></i> 1,698
                  </li>
                  <li>
                    <i class="fa fa-retweet" aria-hidden="true"></i> 286
                  </li>
                </ul>
                <ul class="tags">
                  <li>Rock</li>
                  <li>Hip Hop</li>
                  <li>EDM</li>
                </ul>
              </div>
              <div style="clear: both;"></div>
            </div>
            <hr class="gray">
            <div class="post">
              <div class="dateOfPost">posted 4 days ago</div>
              <img src="https://placeimg.com/160/160/any" alt="Placeholder Image" class="postImage">
              <div class="postTextWrapper">
                <div class="artistName">Artist Name</div>
                <div class="songTitle"><b>Song Title</b></div>
                <ul class="ctas">
                  <li>
                    <i class="ion-ios-heart"></i> 1,698
                  </li>
                  <li>
                    <i class="fa fa-retweet" aria-hidden="true"></i> 286
                  </li>
                </ul>
                <ul class="tags">
                  <li>Rock</li>
                  <li>Hip Hop</li>
                  <li>EDM</li>
                </ul>
              </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>