<div id="profile">
  <header>
    <div class="container-fluid noPads">
      <div class="row">
        <div class="col-md-12">
          <img src="/images/cassettes.jpg" alt="Cassettes" class="img-responsive userCoverBg">
        </div>
      </div>
    </div>
  </header>
  <section class="profile">
    <div class="container-fluid noPads">
      <div class="row">
        <div class="col-md-12">
          <img src="/images/me_hoodie_bAndW.png" alt="Username" class="userAvatar img-responsive">
          <div class="userInfoWrapper">
            <div class="username">{{currentUser.username}}</div>
            <ul class="counts">
              <li><b>181</b> sounds</li>
              <li><b>299</b> followers</li>
              <li><b>388</b> following</li>
            </ul>
            <p class="userBio">Jason Quaccia chasing colors through my fears jasonquaccia.com</p>
          </div>
          <button id="openOverlay" class="newPostBtn" ng-click="overlayOpen = !overlayOpen">New Sound</button>
          <div style="clear: both;"></div>
        </div>
      </div>
      <hr class="gray">
      <div class="row">
        <div class="col-md-10">
          <!-- profile feed -->
          <div class="feed">
            <div class="post">
              <div class="dateOfPost">posted 4 days ago</div>
              <img src="https://placeimg.com/160/160/any" alt="Placeholder Image" class="postImage">
              <div class="postTextWrapper">
                <div class="artistName">Artist Name</div>
                <div class="songTitle"><b>Song Title</b></div>
                <ul class="ctas">
                  <li>
                    <i class="ion-ios-heart"></i> 1,698
                  </li>
                  <li>
                    <i class="fa fa-retweet" aria-hidden="true"></i> 286
                  </li>
                </ul>
                <ul class="tags">
                  <li>Rock</li>
                  <li>Hip Hop</li>
                  <li>EDM</li>
                </ul>
              </div>
              <div style="clear: both;"></div>
            </div>
            <hr class="gray">
            <div class="post">
              <div class="dateOfPost">posted 4 days ago</div>
              <img src="https://placeimg.com/160/160/any" alt="Placeholder Image" class="postImage">
              <div class="postTextWrapper">
                <div class="artistName">Artist Name</div>
                <div class="songTitle"><b>Song Title</b></div>
                <ul class="ctas">
                  <li>
                    <i class="ion-ios-heart"></i> 1,698
                  </li>
                  <li>
                    <i class="fa fa-retweet" aria-hidden="true"></i> 286
                  </li>
                </ul>
                <ul class="tags">
                  <li>Rock</li>
                  <li>Hip Hop</li>
                  <li>EDM</li>
                </ul>
              </div>
              <div style="clear: both;"></div>
            </div>
            <hr class="gray">
            <div class="post">
              <div class="dateOfPost">posted 4 days ago</div>
              <img src="https://placeimg.com/160/160/any" alt="Placeholder Image" class="postImage">
              <div class="postTextWrapper">
                <div class="artistName">Artist Name</div>
                <div class="songTitle"><b>Song Title</b></div>
                <ul class="ctas">
                  <li>
                    <i class="ion-ios-heart"></i> 1,698
                  </li>
                  <li>
                    <i class="fa fa-retweet" aria-hidden="true"></i> 286
                  </li>
                </ul>
                <ul class="tags">
                  <li>Rock</li>
                  <li>Hip Hop</li>
                  <li>EDM</li>
                </ul>
              </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  overlay  -->
  <div class="overlay overlay-slidedown" ng-class="{'open': overlayOpen}">
    <button type="button" class="overlay-close" ng-click="overlayOpen = !overlayOpen">Close</button>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h1 class="text-center">New Sound</h1>
          <div ng-show="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
          <form ng-submit="createPost(post)">
            <div class="form-group">
              <label>Title:</label>
              <input type="text" class="form-control" name="title" ng-model="post.title">
            </div>
            <div class="form-group">
              <label>Artist:</label>
              <input type="text" class="form-control" name="artist" ng-model="post.artist">
            </div>
            <div class="form-group">
              <label>Tags:</label>
              <input type="text" class="form-control tagsInput" name="tags" placeholder="press enter to submit a tag" ng-keyup="$event.keyCode == 13 ? addTag() : null">
            </div>
            <ul class="submittedTags">
              <li ng-repeat="tag in post.tags">{{tag}} &times;</li>
            </ul>
            <button class="createPostBtn" type="submit">Post</button>
          </form>
          post: {{post}}
        </div>
      </div>
    </div>
  </div>
</div>