<div id="profile">
  <header>
    <div class="container-fluid noPads">
      <div class="row">
        <div class="col-md-12">
          <img src="/images/cassettes.jpg" alt="Cassettes" class="img-responsive userCoverBg">
        </div>
      </div>
    </div>
  </header>
  <section class="profile">
    <div class="container-fluid noPads">
      <div class="row">
        <div class="col-md-12">
          <img src="/images/me_hoodie_bAndW.png" alt="Username" class="userAvatar img-responsive">
          <div class="userInfoWrapper">
            <div class="username">{{currentUser.username}}</div>
            <ul class="counts">
              <li><b>181</b> sounds</li>
              <li><b>299</b> followers</li>
              <li><b>388</b> following</li>
            </ul>
            <p class="userBio">Jason Quaccia chasing colors through my fears jasonquaccia.com</p>
          </div>
          <button class="newPostBtn" ng-click="">New Sound</button>
          <div style="clear: both;"></div>
        </div>
      </div>
      <hr class="gray">
      <div class="row">
        <div class="col-md-10">
          <!-- profile feed -->
          <div class="feed">
            <div class="post">
              <img src="https://placeimg.com/160/160/any" alt="Placeholder Image" class="postImage">
              <div class="postTextWrapper">
                <div class="artistName">Artist Name</div>
                <div class="songTitle"><b>Song Title</b></div>
                <ul class="ctas">
                  <li>
                    <i class="ion-ios-heart"></i> 1,698
                  </li>
                  <li>
                    <i class="fa fa-retweet" aria-hidden="true"></i> 286
                  </li>
                </ul>
                <ul class="tags">
                  <li>Rock</li>
                  <li>Hip Hop</li>
                  <li>EDM</li>
                </ul>
              </div>
              <div style="clear: both;"></div>
            </div>
            <hr class="gray">
            <div class="post">
              <img src="https://placeimg.com/160/160/any" alt="Placeholder Image" class="postImage">
              <div class="postTextWrapper">
                <div class="artistName">Artist Name</div>
                <div class="songTitle"><b>Song Title</b></div>
                <ul class="ctas">
                  <li>
                    <i class="ion-ios-heart"></i> 1,698
                  </li>
                  <li>
                    <i class="fa fa-retweet" aria-hidden="true"></i> 286
                  </li>
                </ul>
                <ul class="tags">
                  <li>Rock</li>
                  <li>Hip Hop</li>
                  <li>EDM</li>
                </ul>
              </div>
              <div style="clear: both;"></div>
            </div>
            <hr class="gray">
            <div class="post">
              <img src="https://placeimg.com/160/160/any" alt="Placeholder Image" class="postImage">
              <div class="postTextWrapper">
                <div class="artistName">Artist Name</div>
                <div class="songTitle"><b>Song Title</b></div>
                <ul class="ctas">
                  <li>
                    <i class="ion-ios-heart"></i> 1,698
                  </li>
                  <li>
                    <i class="fa fa-retweet" aria-hidden="true"></i> 286
                  </li>
                </ul>
                <ul class="tags">
                  <li>Rock</li>
                  <li>Hip Hop</li>
                  <li>EDM</li>
                </ul>
              </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>